<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GifOfLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6B820751CFFD24800A735CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B8208E1CFFD24800A735CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B820991CFFD24800A735CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
